body {
    background-color: white;
    font-family: 'NunitoSans',sans-serif ;
}
* {
    margin: 0;
    padding: 0;
}


/*header*/
header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
}
.logo {
  height: 53px;
  margin-left: 87px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 0 !important;
  padding-bottom: 17px;
}
/*nav details*/
.container{
    display: inline;
    font-size: 1.3rem;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 79px;
    align-items: center;
    flex-wrap: nowrap;
}
.nav-links li {
    margin-left: 15px;
    list-style: none;
}
a{
  transition: color 0.3s;
  text-decoration: none;
  color: white;
}
a:hover{
    color: rgb(185, 183, 182);
    
}
.fnav-links{
    color: black;
  }
/*search*/
.fa {
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*Body-style*/
h1{
    font-size: 1.9rem; 
    color:#58ADC5;
    padding-top: 60px;
    padding-left: 24px;
}
h2{
  font-size: 18px;  
  padding: 20px;
  font-weight: normal;
}

/*dropdown*/
.filter {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 20px;
}

.filter select {
  padding: 10px;
  margin-right: 71px;
  width: 210px;
}




/*footer*/
footer{
  background-color: hsla(194.66666666666666,28.6624203821656%,30.784313725490197%,1);
  color: white;
    
}
.footer-container{
    background-color: hsla(194.66666666666666,28.6624203821656%,30.784313725490197%,1);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 46vh;
}
.row{
    display: flex;
}
.column {
    flex: 1;
    width: 15rem;
    height: 19vh;
}
.list-unstyled {
  list-style: none;
  margin-bottom: 10px;  
}
li {
  padding: 5px;
  margin: 5px;
}
h5{
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
}
.footer-left .list-unstyled{
  padding-left: 10px;
}
#email-field {
  padding: 7px;
}


/* social media */

.social-media-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;;
}
.icon {
  cursor: pointer;
  height: 2rem;
}
