
/*flex-container*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/*Left side container*/
.left-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 50px;
    width: 40%;
    align-content: center;
}
.circle {
    display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.circle-container {
    width: 220px;
    height: 220px;
    background-color: #F4F0EC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preview-img {
    max-width: 220px;
    max-height: 220px;
    color: white;
}
.basic-info .Portfolio-info{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;  
}
/*Right side container*/
.right-container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 20px 50px;
    width: 70%;
}
#bio-text {
    padding: 0px;
    line-height: 2;
    font-size: x-large;
    color: darkslategray;
}
img.semi-rounded {
    object-fit: cover;
    border-radius: 30px;
    height: 150px;
    width: 150px;
    margin: 10px 10px 10px 10px;
}


/*Anji Started here*/
/*Left side-form style*/
.formdesign {
    font-size: 20px;
}
.Portfolio-info{
    padding-top:15px;
}
.formdesign input {
    width: 80%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    margin: 4px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #F4F0EC;
}

.formerror {
    color: red;
}

textarea {
    width: 95%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #F4F0EC;
    border-radius: 20px; 
    font-size: 15px;
}


/*Right side-form style*/
.files-container{
    font-size: 34px;
}
input[type="file"]{
    Display: none;
    width: 100%;
    cursor: pointer;
}

label {
    padding: 10px 15px;
    background-color: #4D5053;
    cursor: pointer;
    Border-radius: 50px;  
    color:white;  
}

Label:hover {
    Color:#58ADC5;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #F4F0EC;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 50px 150px 30px 30px;
}
button{
    margin: 5px 15px 0px 10px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 10%;
} 
input[type="btn"]{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: white;
}
.upload-files{
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px; 
    gap: 40px;
}
.files {
  display: flex;
  align-items: fl;
  justify-content: center;
}
h10{
    font-size: 14px;
    padding: 0;
    color: darkslategray;
}
.but{
    padding: 20px;
    border-radius: 10px;
}
.submit-buttom{
    display: flex;
    justify-content: end;
    padding: 20px 50px 30px 50px;
}
.box-container {
    width: 180px;
    height: 180px;
    background-color: #F4F0EC;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

