body {
    background-color: #f0f0f0;
    font-family: 'NunitoSans',sans-serif ;
}
* {
    margin: 0;
    padding: 0;
}


/*header*/
header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
}
.logo {
    height: 53px;
    margin-left: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 0 !important;
}
/*nav details*/
.container{
    display: inline;
    font-size: 1.3rem;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 79px;
    align-items: center;
    flex-wrap: nowrap;
}
.nav-links li {
    margin-left: 15px;
    list-style: none;
}
a{
  transition: color 0.3s;
  text-decoration: none;
  color: black;
}
a:hover{
    color: rgb(185, 183, 182);
    
}
/*search*/
.fa {
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*Body-top*/
.top{
   background-color: rgb(205, 203, 201) ;
   display: flex;
   justify-content: start;
   flex-direction: column;
   height: 29vh;
   padding: 10px;
}
h1{
    font-size: 1.9rem; 
    color:#58ADC5;
    padding-top: 60px;
    padding-left: 24px;
}
h2{
  font-size: 18px;  
  padding: 20px;
  font-weight: normal;
}

/*dropdown*/
.filter {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 20px;
}

.filter select {
  padding: 10px;
  margin-right: 71px;
  width: 210px;
}




/*footer*/
footer{
  background-color: rgb(205, 203, 201);
    
}
.footer-container{
    background-color: rgb(205, 203, 201);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 46vh;
}
.row{
    display: flex;
}
.column {
    flex: 1;
    width: 15rem;
    height: 19vh;
}
.list-unstyled {
  list-style: none;
  margin-bottom: 10px;  
}
li {
  padding: 5px;
  margin: 5px;
}
h5{
  padding: 5px;
  margin: 5px;
}
.footer-left .list-unstyled{
  padding-left: 10px;
}
/* social media */

.social-media-container {
  direction: flex;
  flex-wrap: wrap;
}
.icon {
  cursor: pointer;
  height: 2rem;
}




/* Yui started here */
h2 {
    font-family: 'NunitoSans',sans-serif ;
    color: #58ADC5
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Y: section title */
  .section-title {
      text-align: center;
  }
  /* Y: Grid */
  .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 50px;
      row-gap: 50px;
      margin-top: 80px;
      margin-bottom: 100px;
      margin-right: 200px;
      margin-left: 200px;
    
    }
  
  
  /* Y: Card section*/
  .grid-item {
       /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      /*5px rounded corners*/
      border-radius: 30px; 
      cursor: pointer; /* Change the cursor to a hand */
      position: relative;
    } 
  
    /*This makes the entire card clickable */
    .grid-item a::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  
  .grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6 {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  /* Y: On mouse-over, add a deeper shadow */
  .grid-item:hover {
      box-shadow: 8px 8px 10px 8px rgba(0,0,0,0.2);
    }
      
  /* Y: Add rounded corners to the top left and the top right corner of the image */
  img {
      border-radius: 30px 30px 0 0;
    }
@media screen and (max-width: 720px) {
      #desktop-nav {
        display: none;
      }

  }