body {
    background-color: white;
    font-family: 'NunitoSans',sans-serif ;
}

/*header*/
header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
}
.logo {
    height: 53px;
    margin-left: 87px;
    display: flex;
    justify-content: start;
    align-items: center;
}
/*nav details*/
.container{
    display: inline;
    font-size: 1.3rem;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 79px;
    align-items: center;
    flex-wrap: nowrap;
}
.nav-links li {
    margin-left: 15px;
    list-style: none;
}
a{
  transition: color 0.3s;
  text-decoration: none;
  color: black;
}
a:hover{
    color: rgb(185, 183, 182);
    font-size: 1.3rem;
}
/*search*/
.fa {
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*Yui Started here*/
/*flex-container*/
.flex-container {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*height: 200px;*/
    align-items: center;
    justify-content: center;
  }

/*Left side container*/
.left-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px 20px 20px;
    flex-basis: 400px;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
   
}

.picture {
    margin: 20px 20px 20px 20px;
}

.basic-info {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}

h2 {
    color:  #58ADC5;
    margin: 20px 20px 40px 20px;
}


.social-media-btn, .cv-portfolio-btn {
    width: 100%;
    background-color: white;
    border: 2px solid #58ADC5;
    border-radius: 50px;
    padding: 14px 40px;
    margin: 10px 20px 10px 20px;
    font-size: x-large;
    text-align: center;

}
.orange-text-btn {
    color: #ea5b25;
 
}

#above-cv-text {
    margin: 40px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    line-height: 2;
    color: darkslategray;
    font-size: large;
}


/*Right side container*/
.right-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 40px 20px 20px 150px;
    flex-basis: 800px;
}

h1 {
    color: #58ADC5;
}



.text-box {
    padding: 0px;
    line-height: 2;
    font-size: x-large;
    color: darkslategray;
}

.skill-label {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    align-items: flex-start;
    
}

.label {
    min-width: 100px; 
    background-color:#ea5b25;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 0px 10px 10px 0px;
    border-radius: 20px;
    text-align: center;
  }

.personal-imgs {
    margin-top: 40px;
}

img.semi-rounded {
    object-fit: cover;
    border-radius: 30px;
    height: 220px;
    width: 220px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*make the page responsive -mobile size  It's not working!!!!!*/
@media only screen and (max-width: 600px) {
    .flex-container {
      flex-direction:column;
    }  }